---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title={frontmatter.title}
  description={frontmatter.description}
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Title}",
    description: "{frontmatter.description}",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <section>
    <div class="max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
      <img
        class="xl:h-[60vh] w-full object-cover rounded-3xl shadow-gray-500/20 shadow-box"
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
      />
      <div class="mt-8 max-w-xl mx-auto">
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >
          by {frontmatter.author} on {
            frontmatter.pubDate.toString().slice(0, 10)
          }
        </span>
        <h1
          class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950 uppercase font-mono "
        >
          {frontmatter.title}
        </h1>
        <p class="mt-2 text-sm text-gray-700"><em>{frontmatter.description}</em></p>
        <div class="flex flex-wrap gap-3 mt-12">
          {
            frontmatter.tags.map((tag) => (
              <span class="inline-flex items-center  underline font-mono text-xs font-medium tracking-tight text-blue-600 uppercase">
                <a href={`/tags/${tag}`}>{tag}</a>
              </span>
            ))
          }
        </div>
      </div>
     <div class="max-w-xl mx-auto">
        <div class="prose-styles">
          <slot />
        </div>
     </div>
    </div>
  </section>
</BaseLayout>
